<!DOCTYPE html>
<html>
  <head>
    <title>All the Silincon Valley episodes</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />

  </head>
  <body>
    <h1>All the <%= data.name %> episodes ( <%= data.premiered.substring(0,4) %> - now )</h1>
    <h4>Genre: <%= data.genres %></h4>
    <div class="image-box">
      <a href="<%= data.url %>" target="_blank"><img class="image" src="<%= data.image.original %>" alt=""></a>
    </div>

    <h2>Episodes: </h2>
    <% data._embedded.episodes.forEach(function(episode){ %>
      <div class="ep-container" id="episode.id">
        <h3><%= episode.name %></h3>
        <img src="<%= episode.image.medium %>" alt="image_episode">
        <strong><p>Season <%= episode.season %> Episode <%= episode.number %></p></strong>
        <p><%= episode.summary.substring(3,episode.summary.length-4) %></p>
        <hr>
      </div>
      <% }) %>

  </body>
</html>
