<!DOCTYPE html>
<html>
  <head>
    <title>All the Silincon Valley episodes</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>All the <%= data.name %> episodes ( <%= data.premiered.substring(0,4) %> - now )</h1>
    <h4>Genre: <%= data.genres %></h4>
    <div class="image-box">
      <a href="<%= data.url %>" target="_blank"><img class="image" src="<%= data.image.original %>" alt=""></a>
    </div>

    <div class="search">

    </div>
  </body>
</html>
